body,
html {
  font-family: sans-serif; }

.link-blank,
.link-blank:hover {
  color: inherit;
  text-decoration: inherit; }

.block {
  min-height: 100vh; }

.quote-block {
  min-height: calc(100vh - 144px); }

.primary-font, .navbar.primary-navbar .navbar-links > li > a, .navbar.primary-navbar .container .navbar-name, .navbar.primary-navbar .container .navbar-social > li > a, .footer.primary-footer .footer-nav .navbar-links > li > a, .footer.primary-footer .footer-nav .container .navbar-name, .footer.primary-footer .footer-nav .container .navbar-social > li > a, .jumbotron.primary-header .header-container .header-title, .jumbotron.primary-header .header-container .header-caption, .panel.primary-item .panel-title {
  font-family: Montserrat, Helvetica, Arial, sans-serif !important; }

@-webkit-keyframes loading {
  0%,
  100%,
  80% {
    box-shadow: 0 0;
    height: 4em; }

  40% {
    box-shadow: 0 -2em;
    height: 5em; } }
@keyframes loading {
  0%,
  100%,
  80% {
    box-shadow: 0 0;
    height: 4em; }

  40% {
    box-shadow: 0 -2em;
    height: 5em; } }
#loading {
  background: #f68a3c;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1005; }
  #loading .loader,
  #loading .loader:after,
  #loading .loader:before {
    background: #ffffff;
    -webkit-animation: loading 1s infinite ease-in-out;
    animation: loading 1s infinite ease-in-out;
    width: 1em;
    height: 4em; }
  #loading .loader {
    color: #ffffff;
    text-indent: -9999em;
    position: absolute;
    font-size: 11px;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translateZ(-50%, -50%);
    transform: translateZ(-50%, -50%);
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
    top: 50%;
    left: 50%; }
  #loading .loader:after,
  #loading .loader:before {
    position: absolute;
    top: 0;
    content: ''; }
  #loading .loader:before {
    left: -1.5em;
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s; }
  #loading .loader:after {
    left: 1.5em; }

.btn.btn-black, .btn.btn-blank, .btn.btn-blue {
  border: 1px solid #fff;
  -webkit-border-radius: 42px;
  -moz-border-radius: 42px;
  border-radius: 42px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: sans-serif;
  font-size: 10px;
  font-weight: 700;
  height: 42px;
  letter-spacing: 0.065em;
  line-height: 42px;
  min-width: 150px;
  padding: 0 10px;
  text-transform: uppercase;
  text-align: center;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; }
  .btn.btn-black:not(.btn-dead):hover, .btn.btn-blank:not(.btn-dead):hover, .btn.btn-blue:not(.btn-dead):hover {
    background-color: #fff;
    color: #242526;
    text-decoration: none; }
  .btn.btn-black.btn-tag, .btn.btn-blank.btn-tag, .btn.btn-blue.btn-tag {
    line-height: 1.3em;
    padding-top: 7px;
    text-align: left; }
    .btn.btn-black.btn-tag > small, .btn.btn-blank.btn-tag > small, .btn.btn-blue.btn-tag > small {
      color: #fff;
      display: block;
      opacity: 0.8; }
.btn.btn-black {
  border-color: #000;
  color: #000; }
  .btn.btn-black:not(.btn-dead):hover {
    background-color: #000;
    color: #fff; }
.btn.active, .btn.btn-blue, .btn.mixitup-control-active {
  background: #2196f3;
  border-color: #2196f3; }
  .btn.active:not(.btn-dead):hover, .btn.btn-blue:not(.btn-dead):hover, .btn.mixitup-control-active:not(.btn-dead):hover {
    background: #39a1f4;
    border-color: #39a1f4;
    color: #fff; }
.btn.btn-sm {
  height: 30px;
  line-height: 30px;
  min-width: 80px; }
.btn.btn-circle {
  font-size: 1.5em;
  min-width: 42px;
  padding: 0; }
  .btn.btn-circle.btn-sm {
    min-width: 30px;
    padding-left: 1px; }
.btn.btn-square {
  border-radius: 0; }
.btn.btn-dead {
  cursor: inherit;
  user-select: inherit; }

.navbar.primary-navbar {
  border: none;
  margin: 0;
  padding: 35px 0;
  position: absolute;
  width: 100%;
  z-index: 100; }
  .navbar.primary-navbar .navbar-links {
    list-style: none;
    margin: 27px 0;
    padding: 0;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%; }
    .navbar.primary-navbar .navbar-links > li {
      color: #fff;
      display: inline-block;
      padding: 17px 10px 10px;
      position: relative;
      text-transform: uppercase;
      z-index: 100; }
      .navbar.primary-navbar .navbar-links > li > a {
        color: #fff;
        font-weight: 900;
        text-decoration: none; }
        .navbar.primary-navbar .navbar-links > li > a::after {
          background: #fff;
          content: " ";
          display: block;
          height: 2px;
          margin-top: 2px;
          -webkit-transition: all 0.3s ease;
          -moz-transition: all 0.3s ease;
          -o-transition: all 0.3s ease;
          transition: all 0.3s ease;
          width: 0; }
        .navbar.primary-navbar .navbar-links > li > a:hover::after, .navbar.primary-navbar .navbar-links > li > a.active::after {
          width: 100%; }
  .navbar.primary-navbar .container {
    position: relative; }
    .navbar.primary-navbar .container .navbar-bars {
      color: #fff;
      cursor: pointer;
      display: none;
      float: right;
      font-size: 2em; }
      .navbar.primary-navbar .container .navbar-bars > i {
        cursor: pointer; }
    .navbar.primary-navbar .container .navbar-logo {
      background: #fff;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      height: 35px; }
    .navbar.primary-navbar .container .navbar-name {
      color: #fff;
      display: none;
      font-weight: 900;
      line-height: 35px;
      padding-left: 10px; }
    .navbar.primary-navbar .container .navbar-social {
      float: right;
      list-style: none;
      margin: 0;
      padding: 0; }
      .navbar.primary-navbar .container .navbar-social > li {
        color: #fff;
        display: inline-block;
        padding: 10px 6px;
        text-transform: uppercase; }
        .navbar.primary-navbar .container .navbar-social > li > a {
          color: #fff;
          font-weight: 900;
          text-decoration: none; }
  @media (max-width: 700px) {
    .navbar.primary-navbar .navbar-links {
      display: none; }
    .navbar.primary-navbar .container .navbar-bars {
      display: block; }
    .navbar.primary-navbar .container .navbar-name {
      display: inline; }
    .navbar.primary-navbar .container .navbar-social {
      display: none; } }

.footer.primary-footer {
  background: #242526;
  border: none;
  margin: 0;
  padding: 35px 0;
  position: absolute;
  width: 100%;
  z-index: 100; }
  .footer.primary-footer .footer-nav {
    border-bottom: 1px solid #404040;
    padding-bottom: 30px; }
    .footer.primary-footer .footer-nav .navbar-links {
      list-style: none;
      margin: 27px 0;
      padding: 0;
      position: absolute;
      text-align: center;
      top: 0;
      width: 100%; }
      .footer.primary-footer .footer-nav .navbar-links > li {
        color: #fff;
        display: inline-block;
        padding: 17px 10px 10px;
        position: relative;
        text-transform: uppercase;
        z-index: 100; }
        .footer.primary-footer .footer-nav .navbar-links > li > a {
          color: #fff;
          font-weight: 900;
          text-decoration: none; }
    .footer.primary-footer .footer-nav .container {
      position: relative; }
      .footer.primary-footer .footer-nav .container .navbar-bars {
        color: #fff;
        cursor: pointer;
        display: none;
        float: right;
        font-size: 2em; }
      .footer.primary-footer .footer-nav .container .navbar-logo {
        background: #fff;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        height: 35px; }
      .footer.primary-footer .footer-nav .container .navbar-name {
        color: #fff;
        display: none;
        font-weight: 900;
        line-height: 35px;
        padding-left: 10px; }
      .footer.primary-footer .footer-nav .container .navbar-social {
        float: right;
        list-style: none;
        margin: 0;
        padding: 0; }
        .footer.primary-footer .footer-nav .container .navbar-social > li {
          color: #fff;
          display: inline-block;
          padding: 10px 6px;
          text-transform: uppercase; }
          .footer.primary-footer .footer-nav .container .navbar-social > li > a {
            color: #fff;
            font-weight: 900;
            text-decoration: none; }
    @media (max-width: 700px) {
      .footer.primary-footer .footer-nav .navbar-links {
        display: none; }
      .footer.primary-footer .footer-nav .container .navbar-bars {
        display: block; }
      .footer.primary-footer .footer-nav .container .navbar-name {
        display: inline; }
      .footer.primary-footer .footer-nav .container .navbar-social {
        display: none; } }
  .footer.primary-footer .footer-bottom {
    color: #fff;
    font-size: 10px;
    font-weight: 300;
    letter-spacing: .05em;
    line-height: 1.6;
    padding-top: 40px; }
    .footer.primary-footer .footer-bottom a {
      color: inherit; }
    .footer.primary-footer .footer-bottom .footer-copyright {
      text-align: right;
      text-transform: uppercase; }

#sidebar,
#sidebar-overlay {
  display: none; }

#sidebar {
  background: #1c1c1c;
  box-shadow: -10px 0 20px 5px #1b1b1b;
  height: 100%;
  left: 0;
  position: fixed;
  width: 250px;
  z-index: 100001; }
  #sidebar .sidebar-heading {
    background: #4f4f4f;
    color: white;
    padding: 30px; }
    #sidebar .sidebar-heading h2 {
      font-size: 1.3em;
      margin: 0; }
      #sidebar .sidebar-heading h2 > i.fa {
        cursor: pointer; }
  #sidebar .sidebar-content ul {
    list-style: none;
    padding: 0; }
    #sidebar .sidebar-content ul > li > a {
      color: white;
      display: block;
      font-size: 1.1em;
      padding: 15px 30px 15px 20px;
      text-decoration: none;
      width: 100%; }
      #sidebar .sidebar-content ul > li > a > .fa {
        color: #888888;
        width: 25px; }
      #sidebar .sidebar-content ul > li > a:hover {
        background: #363636; }

#sidebar-overlay {
  background: rgba(0, 0, 0, 0.3);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100000; }

.jumbotron.primary-header {
  background: url("../img/background--38053.jpg");
  background-size: 100%;
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin: 0;
  position: relative; }
  .jumbotron.primary-header.small-header {
    height: 70vh;
    min-height: 500px; }
  .jumbotron.primary-header::before {
    background: #f68a3c;
    background: -webkit-linear-gradient(rgba(255, 87, 34, 0.85), rgba(246, 138, 60, 0.7));
    background: -o-linear-gradient(rgba(255, 87, 34, 0.85), rgba(246, 138, 60, 0.7));
    background: -moz-linear-gradient(rgba(255, 87, 34, 0.85), rgba(246, 138, 60, 0.7));
    background: linear-gradient(rgba(255, 87, 34, 0.85), rgba(246, 138, 60, 0.7));
    content: " ";
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%; }
  .jumbotron.primary-header .header-container {
    color: #fff;
    position: absolute;
    text-align: left;
    top: 50%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 100%; }
    .jumbotron.primary-header .header-container.container-bottom {
      bottom: 8vh;
      top: auto;
      -ms-transform: none;
      -webkit-transform: none;
      transform: none; }
    @media (max-width: 1000px) {
      .jumbotron.primary-header .header-container {
        padding: 0 15px; } }
    .jumbotron.primary-header .header-container .header-title {
      font-size: 4.7em;
      font-weight: bold; }
      @media (max-width: 900px) {
        .jumbotron.primary-header .header-container .header-title {
          font-size: 3.5em; } }
      @media (max-width: 500px) {
        .jumbotron.primary-header .header-container .header-title {
          font-size: 2.5em; } }
    .jumbotron.primary-header .header-container .header-button {
      margin-right: 10px; }
    .jumbotron.primary-header .header-container .header-caption::before {
      background: #fff;
      content: " ";
      display: inline-block;
      float: left;
      height: 2px;
      margin: 15px 10px 0 0;
      opacity: 0.7;
      width: 25px; }
    .jumbotron.primary-header .header-container .header-button {
      margin-top: 20px; }
  .jumbotron.primary-header .header-credits {
    bottom: 20px;
    font-size: 0.8em;
    opacity: 0.7;
    position: absolute;
    right: 20px;
    text-align: right; }
    .jumbotron.primary-header .header-credits a {
      color: #fff; }

.primary-quote {
  background: #2196f3;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  font-family: 'Zilla Slab', serif;
  padding: 40px 0;
  text-align: center; }
  .primary-quote .quote-content {
    padding: 35px 0;
    width: 50%; }
  .primary-quote .quote-text {
    font-size: 2em;
    font-style: italic; }
  .primary-quote .quote-name {
    font-size: 1em;
    margin-top: 4px; }
    .primary-quote .quote-name::before {
      content: "~ "; }
  .primary-quote .btn {
    margin: 5px 3px; }
  @media (min-width: 1200px) {
    .primary-quote {
      background-size: 70%; } }
  @media (max-width: 700px) {
    .primary-quote {
      background-image: none !important; }
      .primary-quote .quote-content {
        padding: 0;
        width: 100%; } }

.mixer .controls {
  padding: 1.6em 0;
  background: #333; }
  .mixer .controls .controls-right {
    float: right; }
  .mixer .controls .control {
    margin: 5px 2px; }
  @media (max-width: 768px) {
    .mixer .controls .control.btn-blank {
      width: calc(50% - 6px); }
    .mixer .controls .controls-right {
      display: inline-block;
      float: none;
      width: calc(50% - 2px); } }
.mixer .mix-container {
  padding: 1rem; }
  .mixer .mix-container:after {
    content: "";
    display: inline-block;
    width: 100%; }
.mixer .gap,
.mixer .mix {
  display: inline-block;
  vertical-align: top; }
.mixer .mix {
  background: #fff;
  border-radius: 2px;
  margin-bottom: 1rem;
  position: relative; }
  .mixer .mix:before {
    content: "";
    display: inline-block; }
.mixer .gap,
.mixer .mix {
  width: 100%; }
  @media screen and (min-width: 541px) {
    .mixer .gap,
    .mixer .mix {
      width: calc(100%/2 - (((2 - 1) * 1rem) / 3)); } }
  @media screen and (min-width: 992px) {
    .mixer .gap,
    .mixer .mix {
      width: calc(100%/4 - (((4 - 1) * 1rem) / 4)); } }

.panel.primary-item {
  border-radius: 0; }
  .panel.primary-item .panel-meta {
    font-size: 0.7em;
    margin: 3px 0; }
    .panel.primary-item .panel-meta > span {
      margin-right: 7px; }

.primary-info-wrapper {
  padding-bottom: 50px;
  padding-top: 50px; }

.primary-info {
  margin-bottom: 20px; }
  .primary-info .info-title:not(.info-title-first) {
    margin-top: 30px; }

.primary-team .media img.media-object {
  width: 64px; }
.primary-team .media .media-body .media-heading {
  margin: 4px 0 7px; }

.highlight:not(.hl-animate) {
  background: #ffffd2;
  border-radius: 10px; }

.hl-animate {
  transition: all 0.5s; }
  .hl-animate.highlight {
    background: #ffffd2;
    border-radius: 10px; }
