.jumbotron {
  &.primary-header {
    background: url("../img/background--38053.jpg");
    background-size: 100%;
    background-size: cover;
    background-position: center;
    height: 100vh;
    margin: 0;
    position: relative;

    &.small-header {
      height: 70vh;
      min-height: 500px;
    }

    &::before {
      background: #f68a3c;
      background: -webkit-linear-gradient(rgba($gradient-start, 0.85), rgba($gradient-end, 0.7));
      background: -o-linear-gradient(rgba($gradient-start, 0.85), rgba($gradient-end, 0.7));
      background: -moz-linear-gradient(rgba($gradient-start, 0.85), rgba($gradient-end, 0.7));
      background: linear-gradient(rgba($gradient-start, 0.85), rgba($gradient-end, 0.7));
      content: " ";
      display: block;
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }

    .header-container {
      color: #fff;
      position: absolute;
      text-align: left;
      top: 50%;
      -ms-transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
      width: 100%;

      &.container-bottom {
        bottom: 8vh;
        top: auto;
        -ms-transform: none;
        -webkit-transform: none;
        transform: none;
      }
      @media (max-width: 1000px) {
        padding: 0 15px;
      }

      .header-title {
        @extend .primary-font;
        font-size: 4.7em;
        font-weight: bold;
        @media (max-width: 900px) {
          font-size: 3.5em;
        }
        @media (max-width: 500px) {
          font-size: 2.5em;
        }
      }

      .header-button {
        margin-right: 10px;
      }

      .header-caption {
        @extend .primary-font;

        &::before {
          background: #fff;
          content: " ";
          display: inline-block;
          float: left;
          height: 2px;
          margin: 15px 10px 0 0;
          opacity: 0.7;
          width: 25px;
        }
      }

      .header-button {
        margin-top: 20px;
      }
    }

    .header-credits {
      bottom: 20px;
      font-size: 0.8em;
      opacity: 0.7;
      position: absolute;
      right: 20px;
      text-align: right;

      a {
        color: #fff;
      }
    }
  }
}
