.primary-info-wrapper {
  padding-bottom: 50px;
  padding-top: 50px;
}

.primary-info {
  margin-bottom: 20px;

  .info-title:not(.info-title-first) {
    margin-top: 30px;
  }
}

.primary-team {
  .media {
    img.media-object {
      width: 64px;
    }

    .media-body {
      .media-heading {
        margin: 4px 0 7px;
      }
    }
  }
}
