.panel.primary-item {
  border-radius: 0;

  .panel-title {
    @extend .primary-font;
  }

  .panel-meta {
    font-size: 0.7em;
    margin: 3px 0;

    > span {
      margin-right: 7px;
    }
  }
}
