#sidebar,
#sidebar-overlay {
  display: none;
}

#sidebar {
  background: $sidebar-color;
  background: rgba($sidebar-color, 0.85);
  box-shadow: -10px 0 20px 5px #1b1b1b;
  height: 100%;
  left: 0;
  position: fixed;
  width: 250px;
  z-index: 100001;

  .sidebar-heading {
    background: lighten($sidebar-color, 20);
    color: $sidebar-text-color;
    padding: 30px;

    h2 {
      font-size: 1.3em;
      margin: 0;

      > i.fa {
        cursor: pointer;
      }
    }
  }

  .sidebar-content {
    ul {
      list-style: none;
      padding: 0;

      > li {
        > a {
          color: $sidebar-text-color;
          display: block;
          font-size: 1.1em;
          padding: 15px 30px 15px 20px;
          text-decoration: none;
          width: 100%;

          > .fa {
            color: #888888;
            width: 25px;
          }

          &:hover {
            background: lighten($sidebar-color, 10);
          }
        }
      }
    }
  }
}

#sidebar-overlay {
  background: rgba(0, 0, 0, 0.3);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100000;
}
