.primary-quote {
  background: $secondary-color;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  padding: 40px 0;
  text-align: center;

  .container {
    background-position: right center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  .quote-content {
    padding: 35px 0;
    width: 50%;
  }

  .quote-text {
    font-size: 2em;
    font-style: italic;
  }

  .quote-name {
    font-size: 1em;
    margin-top: 4px;

    &::before {
      content: "~ ";
    }
  }

  .btn {
    margin: 5px 3px;
  }

  &:not(.swiper) {
    font-family: 'Zilla Slab', serif;
  }

  &.dark {
    background-color: #464646;
  }
  @media (min-width: 1200px) {
    background-size: 70%;
  }
  @media (max-width: 700px) {
    background-image: none!important;

    .container {
      background-image: none!important;
    }

    .quote-content {
      padding: 0;
      width: 100%;

      &.center-small {
        text-align: center!important;
      }
    }
  }
}
