#swiper {
  padding: 40px 0 10px;

  .swiper-pagination {
    bottom: auto;
    margin-top: 10px;
    position: initial;
  }
}

.swiper {
  h2 {
    font-family: Montserrat, Helvetica, Arial, sans-serif;
    font-weight: bold;
  }
}
