$gradient-start: #ff5722;
$gradient-end: #f68a3c;
$secondary-color: #2196F3;
@import "default";
@import "loader";
@import "buttons";
@import "navbar";
@import "footer";
@import "pusher";
@import "header";
@import "quote";
@import "mixer";
@import "items";
@import "info";
